$transition-params:
  color,
  width,
  border,
  height,
  filter,
  padding,
  opacity,
  overflow,
  font-size,
  max-width,
  transform,
  box-shadow,
  text-align,
  margin-top,
  white-space,
  margin-bottom,
  text-overflow,
  background-color,
  background-color,
  -input-placeholder;

$transition-webkit-params: -webkit-transform, -webkit-input-placeholder, -webkit-filter;
$transition-moz-params: -moz-transform, -moz-input-placeholder, -moz-filter;
$transition-o-params: -o-transform, -o-input-placeholder, -o-filter;

@mixin transition($duration: 0) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;

  -webkit-transition-property: $transition-params, $transition-webkit-params;
  -moz-transition-property: $transition-params $transition-moz-params;
  -o-transition-property: $transition-params, $transition-o-params;
  transition-property: $transition-params;
}
