@import '../../../../../assets/scss/imports';

.table {
  &-header {
    text-align: center;
  }

  &-body {
    text-align: center;
  }
}

.header {
  &-column {}
}

.body {
  &-column {
    max-width: 100px;
    width: 100px;
    height: content-box;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.bg {
  &-github-danger {
    background-color: $github-red-700;
    color: white;
  }
}

.repository-name {
  @include transition(.3s);

  &:hover {
    color: $github-blue-600;
    cursor: pointer;
  }
}
