<header [lastUpdate]="(date - 1000000) | timestamp"
        [dataSource]="'github'" [userData]="{}"></header>

<div class="d-flex flex-column justify-content-center align-items-center" *ngIf="company$ | async as company">
  <table class="table">
    <tr class="table-header">
      <th class="header-column">
        <dynamic-header-value
          [name]="'repository name'"
          [isRequired]="false"
          [minVersion]="null">
        </dynamic-header-value>
      </th>

      <th class="header-column">
        <dynamic-header-value
          [name]="'branches'"
          [isRequired]="false"
          [minVersion]="null">
        </dynamic-header-value>
      </th>

      <th class="header-column">
        <dynamic-header-value
          [name]="'type of privacy'"
          [isRequired]="false"
          [minVersion]="null">
        </dynamic-header-value>
      </th>

      <th class="header-column" *ngFor="let data of company.availableDependency">
        <dynamic-header-value
          [name]="data.name"
          [isRequired]="data.isRequired"
          [minVersion]="data.minVersion">
        </dynamic-header-value>
      </th>
    </tr>

    <tr class="table-body" *ngFor="let repository of company.repositories">
      <td class="body-column">
        {{ repository.name }}
      </td>

      <td class="body-column">
        <branches
          [baseBranchData]="repository.baseBranchDependencies || null"
          [compareBranchData]="repository.compareBranchDependencies || null">
        </branches>
      </td>

      <td class="body-column">{{ repository.isPrivate ? 'Private' : 'Public' }}</td>

      <td class="body-column" *ngFor="let data of company.availableDependency">
        <dynamic-row-value
          [dependency]="data.name"
          [minVersion]="data.minVersion"
          [baseBranchData]="repository.baseBranchDependencies"
          [compareBranchData]="repository.compareBranchDependencies">
        </dynamic-row-value>
      </td>
    </tr>
  </table>
</div>
