<header [lastUpdate]="date | timestamp"
        [dataSource]="'github'" [userData]="{}"></header>

<ng-container *ngIf="company$ | async as company">
  <div class="d-flex flex-column justify-content-center" *ngIf="availableDependencies$ | async as availableDependencies">
    <div class="">
      <table class="table">
        <tr class="table-header">
          <th class="header-column">
            <dynamic-header-value
              [name]="'repository name'"
              [isRequired]="false"
              [minVersion]="null">
            </dynamic-header-value>
          </th>

          <th class="header-column">
            <dynamic-header-value
              [name]="'branches'"
              [isRequired]="false"
              [minVersion]="null">
            </dynamic-header-value>
          </th>

          <th class="header-column">
            <dynamic-header-value
              [name]="'type of privacy'"
              [isRequired]="false"
              [minVersion]="null">
            </dynamic-header-value>
          </th>

          <th class="header-column" *ngFor="let data of availableDependencies">
            <dynamic-header-value
              [name]="data.name"
              [isRequired]="data.isRequired"
              [minVersion]="data.minVersion">
            </dynamic-header-value>
          </th>
        </tr>

        <tr class="table-body" *ngFor="let repository of repositories; trackBy: trackByFn">
          <td class="body-column repository-name" [innerText]="repository.name" (click)="navigateToRepositoryDetails(repository.name)"></td>

          <td class="body-column">
            <branches
              [baseBranchData]="repository.baseBranchDependencies || null"
              [compareBranchData]="repository.compareBranchDependencies || null">
            </branches>
          </td>

          <td class="body-column">
        <span
          ngClass="{{ repository.isPrivate ? 'private' : 'public' }}"
          [innerText]="repository.isPrivate ? 'Private' : 'Public'">
        </span>
          </td>

          <td class="body-column" *ngFor="let data of availableDependencies">
            <dynamic-row-value
              [dependency]="data.name"
              [isRequired]="data.isRequired"
              [minVersion]="data.minVersion"
              [baseBranchData]="repository.baseBranchDependencies"
              [compareBranchData]="repository.compareBranchDependencies">
            </dynamic-row-value>
          </td>
        </tr>
      </table>
    </div>

    <div class="d-flex justify-content-center" *ngIf="itemsPerPage">
      <pagination
        [totalItems]="company.repositories.length"
        [itemsPerPage]="itemsPerPage.value"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event, company.repositories)"
      ></pagination>
    </div>
  </div>
</ng-container>
